@font-face {
  font-family: "westeindeCaptionThin";
  src: url('http://localhost:8080/assets/fonts/westeindeCaptionThin.otf');
  font-style: normal;
}

@font-face {
  font-family: "westeindeCaptionBold";
  src: url('http://localhost:8080/assets/fonts/westeindeCaptionBold.otf');
  font-style: normal;
}

@font-face {
  font-family: "brownBold";
  src: url('http://localhost:8080/assets/fonts/brownBold.otf');
  font-style: normal;
}

@font-face {
  font-family: "brownLight";
  src: url('http://localhost:8080/assets/fonts/brownLight.otf');
  font-style: normal;
}

body {
  background-color: black;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
 }

 .webGLRenderer.hidden {
   display: none;
 }

